<ion-content class="page-cadastro">
  <div class="cadastro-background">
    <div class="overlay"></div>

    <form [formGroup]="formCadastrar" (ngSubmit)="submitForm()">
      <!-- Nome -->
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>

      <!-- Telefone -->
      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input type="tel" formControlName="telefone"></ion-input>
      </ion-item>

      <!-- Data de Nascimento -->
      <ion-item>
        <ion-label position="floating">Data de Nascimento</ion-label>
        <ion-input type="date" formControlName="dataNascimento"></ion-input>
      </ion-item>

      <!-- CPF -->
      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input type="text" formControlName="cpf"></ion-input>
      </ion-item>

      <!-- Email -->
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <!-- Mensagens de erro para o email -->

      <!-- Senha -->
      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" formControlName="senha"></ion-input>
      </ion-item>
      <!-- Mensagens de erro para a senha -->

      <!-- Confirmação de Senha -->
      <ion-item>
        <ion-label position="floating">Confirmação de senha</ion-label>
        <ion-input type="password" formControlName="confSenha"></ion-input>
      </ion-item>
      <!-- Mensagens de erro para a confirmação de senha -->

      <!-- Time Preferido -->
      <ion-item>
        <ion-label>Time Preferido</ion-label>
        <ion-select formControlName="timePreferido">
          <ion-select-option *ngFor="let time of times" [value]="time.nome">{{ time.nome }}</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Logo do Time Selecionado -->
      <!-- Logo do Time Selecionado ou Imagem Padrão -->
<img [src]="formCadastrar.get('timePreferido').value ? getLogoUrl(formCadastrar.get('timePreferido').value) : 'https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/nhl.png?alt=media&token=43c417c1-2ef7-4664-92ac-da058317afe4'" alt="Logo do Time" class="time-logo">


      <!-- Botão de Cadastro -->
      <ion-button expand="full" color="success" type="submit">Cadastrar</ion-button>
    </form>
  </div>
</ion-content>
