<body>
  <div class="container">
    <div class="logo-container">
      <img src="https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/nba-logo.png?alt=media&token=f50c70c6-6a55-4743-acfc-ca4ba5178754" alt="Logo Slapshot" class="large-logo">
    </div>
    <form class="login-form" (ngSubmit)="submitForm()" [formGroup]="formLogar">
      <input type="email" placeholder="E-mail" formControlName="email">
      <input type="password" placeholder="Senha" formControlName="senha">
      <div class="button-container">
        <p style="font-size: 60%;">Não tem cadastro? <span style="color: rgb(133, 133, 228); text-decoration: underline; cursor: pointer;" (click)="irParaCadastro()">Cadastre-se</span>.</p>
        <button type="submit">Entrar</button>
      </div>      
      <p style="color: rgba(255, 255, 255, 0.493); text-decoration: underline; cursor: pointer; text-align: center; font-size: 70%;" (click)="recuperarSenha()">Esqueci minha senha</p> <!-- Alterado para ser uma escrita clicável -->
      <p *ngIf="mensagem" style="color: green; text-align: center; font-size: 70%;">{{ mensagem }}</p> <!-- Adicionando mensagem de sucesso -->
    </form>
  </div>
</body>
