<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/nba-logo2.webp?alt=media&token=4a0cb238-37d4-4a1e-8d08-d542c440c9b5" class="logo"></ion-img>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="irParaConfig()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <ion-searchbar class="search" (ionChange)="filtrarPartidas($event.target.value)" placeholder="Pesquisar partidas"></ion-searchbar>
  
  <ion-list>
    <ion-list-header class="ion-margin-bottom">
      <ion-label>
        <p style="color: white; text-align: center;">Partidas do dia <span>{{ dataAtual }}</span>!</p>
      </ion-label>
    </ion-list-header>

    <ion-card *ngFor="let partida of partidas" class="custom-card" (click)="irParaDetalhesPartida(partida.id)" [style.background-image]="'url(' + partida.backg + ')'">
      <ion-card-content>
        <div class="card-content">
          <ion-thumbnail slot="start">
            <img [src]="partida.imagemUrl" alt="Imagem da Partida">
          </ion-thumbnail>
          <div class="details">
            <ion-card-title>{{ partida.nome }}</ion-card-title>
            <p>
              <br>
              <br>
              <ion-icon name="location"></ion-icon>
              {{ partida.local }}
            </p>            
            <p>
              <ion-icon name="time"></ion-icon>
              {{ partida.horario }}
            </p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
