.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back-button {
  position: absolute;
  top: 10px; /* ajuste conforme necessário */
  left: 10px; /* ajuste conforme necessário */
  z-index: 1; /* para garantir que o botão esteja sobre o vídeo */
}
