.custom-background {
  --background: url('https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/backg.avif?alt=media&token=4a0b4e65-b0d8-4064-86d8-d0a6303518ee') center center / cover;
  background-size: cover;
}
  
  ion-content.custom-background {
    --ion-background-color: transparent;
    color: white; 
  }
  
  ion-content.custom-background ion-list {
    color: white; 
  }
  
  .custom-text {
    color: white;
  }
  
  .custom-toolbar {
    --background: url('https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/backg_header.jpg?alt=media&token=1bac2d7c-9031-4920-bce7-5d49faa122e8') center center / cover;
    color: white !important;
    background-color: transparent !important; 
  }

.encerrar-sessao-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  color: red;
}

  
