<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!editingProfile" (click)="editProfile()">Editar</ion-button>
      <ion-button *ngIf="editingProfile" (click)="saveProfileChanges()">Salvar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-background">

  <ion-item class="custom-text">
    <ion-label position="stacked">Time Preferido</ion-label>
    <ion-select [(ngModel)]="userProfile.timePreferido" [disabled]="!editingProfile">
      <ion-select-option *ngFor="let time of times" [value]="time.nome">{{ time.nome }}</ion-select-option>
    </ion-select>
    <img *ngIf="userProfile.timePreferido" [src]="getLogoUrl(userProfile.timePreferido)" alt="Logo do Time" class="time-logo">
  </ion-item>
  

  <ion-list lines="full" *ngIf="userProfile" class="custom-text">
    <ion-item class="custom-text">
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" disabled [value]="userProfile.email"></ion-input>
    </ion-item>

    <ion-item class="custom-text">
      <ion-label position="stacked">Nome</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.nome" [disabled]="!editingProfile" placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item class="custom-text">
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.telefone" [disabled]="!editingProfile" placeholder="Telefone"></ion-input>
    </ion-item>

    <ion-item class="custom-text">
      <ion-label position="stacked">Data de Nascimento</ion-label>
      <ion-input type="date" [(ngModel)]="userProfile.dataNascimento" [disabled]="!editingProfile" placeholder="Data de Nascimento"></ion-input>
    </ion-item>

    <ion-item class="custom-text">
      <ion-label position="stacked">CPF</ion-label>
      <ion-input type="text" [(ngModel)]="userProfile.cpf" [disabled]="!editingProfile" placeholder="CPF"></ion-input>
    </ion-item>
    
    <ion-item class="custom-text">
      <ion-label class="texto-branco">Método de Pagamento</ion-label>
      <ion-button slot="end" fill="clear" class="custom-text" (click)="redirectToPaymentTab()">Gerenciar</ion-button>
    </ion-item>

<ion-item class="custom-text">
  <ion-button slot="end" fill="clear" class="custom-text encerrar-sessao-button" (click)="signOut()">Encerrar Sessão</ion-button>
</ion-item>


  </ion-list>
</ion-content>
