<ion-header class="custom-header">
  <ion-toolbar>
    <ion-title mode="md">
    <span>Slapshot</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <ion-list>
    <ion-list-header class="ion-margin-bottom">
      <ion-label>
        <h4>Partidas do dia!</h4>
        <p>Todas as partidas do dia <span>{{ dataAtual }}</span></p>
      </ion-label>
    </ion-list-header>

    <ion-card *ngFor="let partida of partidas" class="custom-card" (click)="irParaDetalhesPartida(partida.id)">
      <ion-card-content>
        <div class="card-content">
          <ion-thumbnail slot="start">
            <img [src]="partida.imagemUrl" alt="Imagem da Partida">
          </ion-thumbnail>
          <div class="details">
            <ion-card-title>{{ partida.nome }}
            </ion-card-title>
            <p>
              <br>
              <br>
              <ion-icon name="location"></ion-icon>
              {{ partida.local }}
            </p>            
            <p>
              <ion-icon name="time"></ion-icon>
              {{ partida.horario }}
            </p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
