.custom-background {
    --background: url('https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/grey.avif?alt=media&token=80ed2b18-1bec-4cc6-91d0-3725ec5be45c') center center / cover;
    background-size: cover;
  }
  
  ion-content.custom-background {
    --ion-background-color: transparent;
    color: white; /* Definindo a cor do texto como branco */
  }
  
  ion-content.custom-background ion-list {
    color: white; /* Definindo a cor do texto dentro de ion-list como branco */
  }
  
  .custom-text {
    color: white; /* Definindo a cor do texto como branco */
  }
  