<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/symbol-NHL-removebg-preview.png?alt=media&token=72fdc9a9-d801-4bc5-9f81-c6ec08dcb815" class="logo"></ion-img>
    </ion-buttons>
    <ion-title mode="md">
      <img src="https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/imagem_2024-02-21_133242646-removebg-preview.png?alt=media&token=8a407450-9e0f-4b12-b78f-b667b34f7f6f" class="title-image" alt="Título Imagem">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="irParaConfig()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <ion-list>
    <h2 style="color: white; text-align: center;">Últimas Notícias da NHL</h2>
    <ion-searchbar class="searchbar" [(ngModel)]="termoPesquisa" (ionChange)="filtrarNoticias()" placeholder="Pesquisar notícias"></ion-searchbar>
    <ion-card *ngFor="let noticia of noticiasFiltradas">
      <ion-img [src]="noticia.urlImagem" alt="Imagem da notícia"></ion-img>
      <ion-card-header>
        <ion-card-title>{{ noticia.titulo }}</ion-card-title>
        <ion-card-subtitle>{{ noticia.descricao }}</ion-card-subtitle>
        <ion-card-subtitle>
          <ion-text color="medium">
            <p class="pStyle">
              <ion-icon name="chatbubble"></ion-icon> {{ noticia.fonte }}
            </p>
            <span><ion-icon name="timer-outline"></ion-icon> {{ noticia.data_publicacao }}</span>
          </ion-text>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <div *ngIf="termoPesquisa !== '' && noticiasFiltradas.length === 0" style="color: white; text-align: center;">Nenhuma notícia encontrada.</div>
  </ion-list>    
</ion-content>
