div{
    margin-top: 10px;
    height: 30vh;
    width: 94%;
    swiper-container{
        --swiper-pagination-color: var(--ion-color-primary);
        swiper-slide{
            height: 27vh;
            img{
                width: 100%;
                height: 22vh;
                border-radius: 5px;
                box-shadow: -1px 11px 13px -6px rgb(87, 86, 86);
            }
        }
    }
}

ion-label{
    font-size: 0.9rem;
    font-weight: bold;

    h4{
        font-weight: bold !important;
        font-size: 1.2rem;
    }
    P{
        font-size: 0.7rem;
    }
}

ion-item{
    font-size: 0.8rem;
    ion-tumbnail{
        height: 16vh;
        width: 25vw;
        img{
            border-radius: 5px;
            height: 100%;
            width: 100%
        }
        
    }
}

.custom-header {
    --min-height: 35px; /* Diminui a altura do cabeçalho em 35% */
    ion-title {
      font-size: 16px; /* Tamanho do texto do título */
    }
  }

  .custom-background {
    --background: url('https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/grey.avif?alt=media&token=80ed2b18-1bec-4cc6-91d0-3725ec5be45c') center center / cover;
    background-size: cover;
  }
  
  ion-content.custom-background {
    --ion-background-color: transparent;
  }
  
  ion-card-header {
    background-color: rgba(0, 0, 0, 0.7); /* Fundo transparente escuro com opacidade 0.7 */
    color: white; /* Letras brancas */
    padding: 10px; /* Espaçamento interno para as letras não encostarem nas bordas */
}

ion-card-header ion-card-title,
ion-card-header ion-text-subtitle,
ion-card-header ion-text {
    color: white !important; /* Letras brancas */
}

