<ion-header>
  <ion-toolbar>
    <ion-title mode="md">
    <span>Notícias</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background">
  <div>
    <h2 style="color: white;" >Fotos da Rodada</h2>
    <swiper-container [modules]="swiperModules" [slidesPerView]="1.2"
    [initialSlide]="0" [centeredSlides]="true" autoplay="true"
    [spaceBetween]="20" [pagination]="{clickable: true, dynamicBullets: true}">
      <swiper-slide>
        <img src="https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/template_partidas1.png?alt=media&token=6f5a5556-2746-47ff-9f3e-df631e4f33b6" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/template_foto2.png?alt=media&token=4ee6d09e-bb87-42cd-a42c-db04d8396b5f" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/template_partidas2.png?alt=media&token=02715328-a647-48e3-af5b-2639293097cd" alt="">
      </swiper-slide>
    </swiper-container>
  </div>

  <ion-list>
    <h2 style="color: white;">Últimas Notícias</h2>
    <ion-card>
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/template_news1.png?alt=media&token=be464b51-8783-424b-b7f6-66f24a4efb2d" alt="Imagem da notícia"></ion-img>
      <ion-card-header>
        <ion-card-title>Jason Robertson é eleito MVP da temporada 2023/2024!</ion-card-title>
        <ion-card-subtitle>
          <ion-text color="medium">
            <p class="pStyle">
              <ion-icon name="chatbubble"></ion-icon> Dallas Stars
            </p>
            <span><ion-icon name="timer-outline"></ion-icon> há 10 minutos.</span>
          </ion-text>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/template_news2.png?alt=media&token=f591e3f9-e949-4665-b350-3401e8817d15" alt="Imagem da notícia"></ion-img>
      <ion-card-header>
        <ion-card-title>Connor Bedard é a 1a escolha do Draft!</ion-card-title>
        <ion-card-subtitle>
          <ion-text color="medium">
            <p class="pStyle">
              <ion-icon name="chatbubble"></ion-icon> Chicago Blackhawks
            </p>
            <span><ion-icon name="timer-outline"></ion-icon> Ontem.</span>
          </ion-text>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/slapshot-76529.appspot.com/o/template_news3.png?alt=media&token=2d2ea762-10b3-49ad-b3fd-f51e2d96e527" alt="Imagem da notícia"></ion-img>
      <ion-card-header>
        <ion-card-title>Tampa Bay Lightning faz 4 gols em apenas 1 período e vira sobre Montreal Canadiens!</ion-card-title>
        <ion-card-subtitle>
          <ion-text color="medium">
            <p class="pStyle">
              <ion-icon name="chatbubble"></ion-icon> Tampa Bay Lightning, Montreal Canadiens
            </p>
            <span><ion-icon name="timer-outline"></ion-icon> Há 1 semana.</span>
          </ion-text>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
       
  </ion-list>
</ion-content>